// Popover component styles - integrated from popover-plugin
@use './variable' as v;

$popover-primary-bg: var(--scWhite, #fff);
$popover-font-color: var(--scBlack, #000);
$popover-arrow-size: 16px;
$popover-arrow-half-size: calc($popover-arrow-size / 2);
$popover-box-shadow-1: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
$popover-box-shadow-2: 0px 0px 2px 0 rgba(0, 0, 0, 0.14);

.pop-comp-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  color: $popover-font-color;
  background-color: transparent; // Allow custom styling through CSS vars
  // box-shadow can be enabled via custom CSS if needed
  text-align: left;
  flex-wrap: wrap;
  z-index: 1;
}

.pop-comp-arrow {
  position: absolute;
  z-index: 1;
  width: $popover-arrow-size;
  height: $popover-arrow-size;
  overflow: hidden;
  pointer-events: none;

  &::before {
    content: '';
    position: absolute;
    top: $popover-arrow-half-size;
    left: $popover-arrow-half-size;
    width: $popover-arrow-size;
    height: $popover-arrow-size;
    background-color: $popover-primary-bg;
    box-shadow: $popover-box-shadow-1;
    transform-origin: left top;
    transform: rotate(45deg);
  }
}

.pop-comp-content {
  position: relative;
  z-index: 2;
}

.pop-comp-wrapper {
  &.position-bottom {
    & > .pop-comp-arrow {
      margin-left: -$popover-arrow-half-size;
      left: 0;
      top: -#{$popover-arrow-size - 1px};

      &::before {
        box-shadow: $popover-box-shadow-2;
      }
    }
  }

  &.position-top {
    & > .pop-comp-arrow {
      margin-left: -$popover-arrow-half-size;
      left: 0;
      bottom: -#{$popover-arrow-size - 1px};
    }
  }

  &.position-right {
    & > .pop-comp-arrow {
      margin-top: -$popover-arrow-half-size;
      top: 0;
      left: -#{$popover-arrow-size - 1px};
    }
  }

  &.position-left {
    & > .pop-comp-arrow {
      margin-top: -$popover-arrow-half-size;
      top: 0;
      right: -#{$popover-arrow-size - 1px};
    }
  }
}

.pop-comp-disable-events {
  pointer-events: none;
}

.pop-comp-active {
  // Styles for active popover trigger element
}
