@use 'sass:math';
@use './variable' as v;
@use './mixins' as m;

.vscomp-popup-active {
  overflow: hidden !important;
}

.vscomp-ele {
  font-family: v.$font-family;
  display: inline-block;
  width: 100%;
}

.vscomp-wrapper {
  color: v.$font-color;
  display: inline-flex;
  flex-wrap: wrap;
  font-family: v.$font-family;
  font-size: v.$font-size;
  position: relative;
  text-align: left;
  width: 100%;
  height: v.$wrapper-height;
  user-select: none;
  outline: none;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  &:focus {
    outline: none;
  }
}

.vscomp-dropbox-wrapper {
  left: 0;
  position: absolute;
  top: 0;
}

.vscomp-toggle-button {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  padding: 7px v.$arrow-width 7px v.$toggle-button-padding-left;
  cursor: pointer;
  background-color: v.$primary-bg;
  border: 1px solid v.$border-color;
  border-radius: 5px;
  line-height: calc(2.2em + 0.75rem);
}

.vscomp-value {
  width: 100%;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  color: black;
  font-family: v.$font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.01em;
}

.vscomp-arrow {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  width: v.$arrow-width;
  height: 100%;
  align-items: center;
  justify-content: center;

  &::after {
    display: inline-block;
    position: relative;
    left: -0.5rem;
    width: 2rem;
    height: 2rem;
    content: '';
    background-image: url(v.$arrow-icon-svg);
    background-size: 2rem 2rem;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.vscomp-clear-icon {
  // SVG background is used instead of CSS-drawn lines
  // The icon is set on the parent .vscomp-clear-button
  display: none;
}

.vscomp-clear-button {
  position: absolute;
  display: none;
  top: 50%;
  right: 30px;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: -12px;
  background-size: 1.5rem 1.5rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: white;
  margin-right: 6px;
  background-image: url(v.$clear-icon-svg);

  &:hover {
    background-image: url(v.$clear-icon-hover-svg);
  }

  // Remove default CSS-based clear icon since we use SVG background
  &::before,
  &::after {
    content: '';
    display: none;
  }

  &.neverRender {
    display: none !important;
    visibility: hidden !important;
    pointer-events: none !important;
  }
}

.vscomp-dropbox-close-button {
  align-items: center;
  background-color: v.$primary-bg;
  border-radius: 50%;
  bottom: -#{v.$dropbox-close-button-width + v.$dropbox-close-button-offset};
  cursor: pointer;
  display: none;
  height: v.$dropbox-close-button-width;
  justify-content: center;
  left: 50%;
  margin-left: math.div(v.$dropbox-close-button-width, -2);
  position: absolute;
  width: v.$dropbox-close-button-width;
}

.vscomp-value-tag {
  &.more-value-count {
    white-space: nowrap;
  }
}

.vscomp-dropbox-container {
  width: 100%;
  z-index: v.$z-index + 1;
  display: flex;
  flex-direction: column;
}

.vscomp-dropbox {
  background-color: v.$primary-bg;
  width: 100%;
  border: 1px solid v.$border-color;
  border-top: none;
  z-index: 1;
  @include m.prefix(transition-duration, 0ms);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.vscomp-options-container {
  max-height: #{v.$dropbox-height - v.$search-height};
  overflow: auto;
  position: relative;
  margin-top: 1px;
  margin-bottom: 1px;
  flex: 1 1 auto;
  min-height: 0;
}

.vscomp-options-bottom-freezer {
  bottom: 0;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
}

.vscomp-option {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  height: v.$option-height;
  padding: 0 15px;
  position: relative;
  color: v.$font-color;
  user-select: none;
  outline: none;

  &.selected {
    background-color: v.$selected-color;
    color: var(--scBlack, #000);
  }

  &.focused {
    background-color: v.$selected-color;
    color: var(--scBlack, #000);
  }

  &.disabled {
    cursor: default;
    opacity: 0.5;
  }

  &.group-title {
    .vscomp-option-text {
      cursor: default;
      opacity: 0.6;
    }

    &.selected {
      background-color: transparent;
    }
  }

  &.group-option {
    padding-left: 30px;
  }
}

.vscomp-new-option-icon {
  height: v.$new-option-icon-width;
  position: absolute;
  right: 0;
  top: 0;
  width: v.$new-option-icon-width;

  &::before {
    border: math.div(v.$new-option-icon-width, 2) solid v.$primary-color;
    border-bottom-color: transparent;
    border-left-color: transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
  }

  &::after {
    align-items: center;
    color: #fff;
    content: '+';
    display: flex;
    font-size: 18px;
    height: math.div(v.$new-option-icon-width, 2);
    justify-content: center;
    position: absolute;
    right: 1px;
    top: 0;
    width: math.div(v.$new-option-icon-width, 2);
  }
}

.vscomp-option-text {
  @include m.ellipse;
  user-select: none;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.vscomp-option-description {
  @include m.ellipse;
  color: v.$font-color-light;
  font-size: v.$font-size-small;
  line-height: 15px;
  width: 100%;
}

.vscomp-option.selected .vscomp-option-description,
.vscomp-option.focused .vscomp-option-description {
  color: #676767;
}

.vscomp-search-container {
  align-items: center;
  border-bottom: 1px solid v.$checkbox-color;
  display: flex;
  height: v.$search-height;
  padding: 0 5px 0 15px;
  position: relative;
  background-color: white;
}

.vscomp-search-label,
.vscomp-live-region,
.vscomp-dropbox-container-top,
.vscomp-dropbox-container-bottom {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.vscomp-search-input {
  background-color: transparent;
  border: 0;
  color: black;
  font-size: 15px;
  height: #{v.$search-height - 2px};
  padding: 10px 0;
  width: calc(100% - #{v.$search-clear-width});

  &:focus {
    outline: none;
  }
}

.vscomp-search-clear {
  align-items: center;
  color: #999;
  cursor: pointer;
  display: flex;
  font-size: 25px;
  height: v.$search-clear-width;
  justify-content: center;
  user-select: none;
  visibility: hidden;
  width: v.$search-clear-width;
  position: relative;

  &:hover {
    color: inherit;
  }
}

.vscomp-no-options,
.vscomp-no-search-results {
  align-items: center;
  display: none;
  justify-content: center;
  padding: 20px 10px;
  color: v.$font-color;
  text-align: center;
}

.vscomp-options-loader {
  display: none;
  padding: 20px 0;
  text-align: center;

  &::before {
    @include m.prefix(animation, vscomp-animation-spin 0.8s infinite linear);
    background-color: v.$primary-bg;
    border-radius: 50%;
    box-shadow: -4px -5px 3px -3px rgba(0, 0, 0, 0.3);
    content: '';
    display: inline-block;
    height: v.$options-loader-size;
    opacity: 0.7;
    width: v.$options-loader-size;
  }
}

.vscomp-ele {
  &[disabled] {
    cursor: not-allowed;
    user-select: none;

    .vscomp-wrapper {
      opacity: 0.7;
      pointer-events: none;
    }
  }
}

.vscomp-wrapper {
  .checkbox-icon {
    display: inline-flex;
    height: 24px;
    width: 24px;
    border: 2px solid v.$checkbox-color;
    border-radius: 6px;
    margin-right: v.$option-checkbox-margin;
    position: relative;

    &::after {
      @include m.prefix(transition-duration, 0s);
      content: '';
      display: inline-block;
      height: 100%;
      width: 100%;
    }

    &.checked::after {
      background: url(v.$check-icon-svg) no-repeat center center / contain;
      border-color: v.$primary-color;
      border-left-color: transparent;
      border-top-color: transparent;
      width: 100%;
    }
  }

  &.opened .vscomp-toggle-button {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.show-as-popup {
    .vscomp-dropbox-container {
      align-items: center;
      background-color: v.$overlay-bg;
      display: flex;
      height: 100vh;
      justify-content: center;
      left: 0;
      opacity: 1;
      overflow: auto;
      padding: 0 10px;
      position: fixed;
      top: 0;
      width: 100vw;
      z-index: 100000 !important;
    }

    .vscomp-dropbox {
      margin-top: math.div((v.$dropbox-close-button-width + v.$dropbox-close-button-offset), -2);
      max-height: calc(80% - #{v.$dropbox-close-button-width + v.$dropbox-close-button-offset});
      max-width: 500px;
      position: relative;
      width: 80%;
      border-top: 1px solid;
    }

    .vscomp-dropbox-close-button {
      display: flex;
    }
  }

  &.popup-position-left {
    .vscomp-dropbox-container {
      justify-content: flex-start;
    }
  }

  &.popup-position-right {
    .vscomp-dropbox-container {
      justify-content: flex-end;
    }
  }

  &.has-select-all {
    .vscomp-toggle-all-button {
      align-items: center;
      cursor: pointer;
      display: flex;
    }

    .vscomp-search-input,
    .vscomp-toggle-all-label {
      width: calc(100% - #{v.$search-clear-width + v.$checkbox-full-width});
    }

    .vscomp-toggle-all-label {
      display: none;
    }
  }

  &:not(.has-search-input) {
    .vscomp-toggle-all-button {
      width: 100%;
    }

    .vscomp-toggle-all-label {
      display: inline-block;
    }
  }

  &.multiple {
    .vscomp-option {
      .vscomp-option-text {
        width: calc(100% - #{v.$checkbox-full-width});
        display: flex;
      }

      .vscomp-option-description {
        padding-left: v.$checkbox-full-width;
      }

      &.selected .checkbox-icon::after {
        background: url(v.$check-icon-svg) no-repeat center center / contain;
        border-color: v.$primary-color;
        border-left-color: transparent;
        border-top-color: transparent;
        width: 100%;
      }
    }
  }

  &.focused,
  &:focus {
    .vscomp-toggle-button {
      box-shadow: v.$focus-shadow;
    }
  }

  // When dropdown opens at the bottom (default), remove bottom border radius for seamless look
  &.focused.position-bottom,
  &:focus.position-bottom {
    .vscomp-toggle-button {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  // When dropdown opens at the top, remove top border radius from toggle for seamless look
  // Dropdown needs top border-radius (outer edge) and no bottom border-radius (connects to toggle)
  &.focused.position-top,
  &:focus.position-top {
    .vscomp-toggle-button {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }

    .vscomp-dropbox {
      // Top edge is outer - needs radius and border
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top: 1px solid v.$border-color;
      // Bottom edge connects to toggle - no radius, no border
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom: none;
    }
  }

  // When dropdown opens to the left, remove left border radius
  &.focused.position-left,
  &:focus.position-left {
    .vscomp-toggle-button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  // When dropdown opens to the right, remove right border radius
  &.focused.position-right,
  &:focus.position-right {
    .vscomp-toggle-button {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  // Keep border radius for popover mode (show-as-popup)
  &.show-as-popup.focused,
  &.show-as-popup:focus {
    .vscomp-toggle-button {
      border-radius: 5px;
    }
  }

  &.focused .vscomp-arrow::after {
    @include m.prefix(transform, rotate(180deg));
  }

  &.closed {
    .vscomp-dropbox-container,
    &.vscomp-dropbox-wrapper {
      display: none;
    }
  }

  &:not(.has-value) {
    .vscomp-value {
      opacity: 0.7;
      font-size: 13px;
      line-height: 20px;
    }
  }

  &.has-value .vscomp-toggle-button {
    background-color: white;
  }

  &.has-clear-button {
    &.has-value .vscomp-clear-button {
      display: flex;
      visibility: visible;
    }

    .vscomp-toggle-button {
      padding-right: #{v.$arrow-width + v.$clear-button-width};
    }
  }

  &.has-no-options,
  &.has-no-search-results {
    .vscomp-options-container {
      display: none;
    }
  }

  &.has-no-options {
    .vscomp-no-options {
      display: flex;
    }
  }

  &.has-no-search-results {
    .vscomp-no-search-results {
      display: flex;
    }
  }

  &.has-search-value {
    .vscomp-search-clear {
      visibility: visible;
    }
  }

  &.has-no-options {
    .vscomp-toggle-all-button {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &.keep-always-open {
    .vscomp-toggle-button {
      padding-right: v.$clear-button-width;
    }

    .vscomp-clear-button {
      right: 5px;
    }

    .vscomp-arrow {
      display: none;
    }

    .vscomp-dropbox-container {
      position: relative;
      z-index: v.$z-index;
    }

    .vscomp-dropbox {
      @include m.prefix(transition-duration, 0s);
      border: 1px solid v.$border-color;
      box-shadow: none;
    }

    &.focused,
    &:focus,
    &:hover {
      box-shadow: v.$box-shadow1;
    }
  }

  &.server-searching {
    .vscomp-options-list {
      display: none;
    }

    .vscomp-options-loader {
      display: block;
    }
  }

  &.has-error {
    .vscomp-toggle-button {
      border-color: v.$error-color;
    }
  }

  &.show-value-as-tags {
    .vscomp-toggle-button {
      padding: 4px 22px 0 10px;
    }

    .vscomp-value {
      display: flex;
      flex-wrap: wrap;
      height: auto;
      min-height: 28px;
      overflow: auto;
      text-overflow: unset;
      white-space: normal;
    }

    .vscomp-value-tag {
      @include m.ellipse;
      align-items: center;
      border: 1px solid #ddd;
      border-radius: 20px;
      display: inline-flex;
      font-size: 12px;
      line-height: 16px;
      margin: 0 4px 4px 0;
      max-width: 100%;
      padding: 2px 3px 2px 8px;

      &.more-value-count {
        padding-right: 8px;
      }
    }

    .vscomp-value-tag-content {
      @include m.ellipse;
      width: calc(100% - #{v.$value-tag-clear-width});
    }

    .vscomp-value-tag-clear-button {
      align-items: center;
      display: flex;
      height: v.$value-tag-clear-width;
      justify-content: center;
      width: v.$value-tag-clear-width;

      .vscomp-clear-icon {
        transform: scale(0.8);
      }
    }

    .vscomp-arrow {
      height: 34px;
    }

    .vscomp-clear-button {
      margin-top: 0;
      top: 5px;
    }

    &.has-value {
      .vscomp-arrow {
        display: none;
      }

      .vscomp-clear-button {
        right: 2px;
      }
    }

    &:not(.has-value) {
      .vscomp-toggle-button {
        padding-bottom: 2px;
      }

      .vscomp-value {
        align-items: center;
        padding-bottom: 3px;
      }
    }
  }
}

// Additional helper class for options with description
.vscompWithDescription {
  flex-flow: wrap;
}
